body {
  font-family: 'Georgia', serif;
  text-align: center;
  padding: 20px;
}

textarea {
  width: 80%;
  height: 100px;
  margin-top: 10px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  background: FAF0E6;
  padding: 10px;
  margin: 10px auto;
  width: 80%;
  border-radius: 8px;
  text-align: left;
}

.theme-pink {
  background: #faf0e6;
  color: #ff8da1;
}

.theme-beach {
  background: #faf0e6;
  color: #89cff0;
}

.theme-plant {
  background: #faf0e6;
  color: #a1f1a1;
}
